@model IEnumerable<TTNhom.Models.EF.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhtrangGH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaygiao)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
        </td>
        <td>
            @if (item.DaThanhToan == 1)
            {
                <p>Đã thanh toán</p>
            }
            @if (item.DaThanhToan == 0)
            {
                <p>Chưa thanh toán</p>
            }


            @*@Html.DisplayFor(modelItem => item.DaThanhToan)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TinhtrangGH)*@

            @if (item.TinhtrangGH == 1)
            {
                <p>Đã giao hàng</p>
            }
            @if (item.TinhtrangGH == 0)
            {
                <p>Chưa giao hàng</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydat)
        </td>
        <td>
            @if (item.TinhtrangGH == 1) {<p>@Html.DisplayFor(modelItem => item.ngaygiao)
                    </p> }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaDH }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaDH }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaDH })
        </td>
   </tr>
}

</table>
